.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ratingIcon {
  fill: var(--color-rating);
}

.ratingText {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--color-text-primary);
}

.ratingNumber {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-sm);
  line-height: 1.28;
  color: var(--color-text-primary);
}
