:root {
  --font-primary: 'Inter', sans-serif;
  --color-bg: #fbfbfb;
  --color-bg-gray: rgba(25, 26, 21, 0.6);
  --color-text-primary: #191a15;
  --color-text-secondary: rgba(25, 26, 21, 0.5);
  --color-text-tertiary: rgba(251, 251, 251, 0.5);

  --color-primary: #54be96;
  --color-secondary: rgba(84, 190, 150, 0.2);
  --color-tertiary: #36a379;

  --color-gray: #8a8a89;
  --color-gray-filter: rgba(25, 26, 21, 0.3);
  --color-gray-light-primary: rgba(25, 26, 21, 0.2);
  --color-gray-light-secondary: rgba(25, 26, 21, 0.1);
  --color-white: #fff;
  --color-shadow-primary: rgba(0, 0, 0, 0.07);
  --color-shadow-secondary: rgba(0, 0, 0, 0.06);
  --color-shadow-tertiary: rgba(0, 0, 0, 0.03);
  --color-accent: #38cd3e;
  --color-badges: #f3f3f3;
  --color-rating: #ffc531;
  --color-error: #dc3545;
  --scrollbar-thumb: rgba(84, 190, 150, 0.75);
  --scrollbar-thumb-hover: #36a379;
  --scrollbar-track: rgba(25, 26, 21, 0.08);
  --scrollbar-track-modal: rgba(25, 26, 21, 0.06);

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 2.5rem;
  --font-4xl: 3rem;
  --font-5xl: 4rem;
  --font-6xl: 5rem;

  --transition-base: 0.5s ease;

  --z-header: 100;
  --z-filter: 100;
  --z-filter-trigger: 102;
  --z-modal-overlay: 1000;
  --z-modal: 1001;
  --z-tooltip: 1100;
}

[data-theme='green'] {
  --color-bg: #fbfbfb;
  --color-text-primary: #191a15;
  --color-text-secondary: rgba(25, 26, 21, 0.5);
  --color-primary: #54be96;
  --color-secondary: rgba(84, 190, 150, 0.2);
  --color-tertiary: #36a379;
  --scrollbar-thumb: rgba(84, 190, 150, 0.78);
  --scrollbar-thumb-hover: #36a379;
  --scrollbar-track: rgba(84, 190, 150, 0.12);
  --scrollbar-track-modal: rgba(84, 190, 150, 0.08);

  --color-icon-primary: #4535af;
  --color-icon-secondary: #fbc75e;
}

[data-theme='blue'] {
  --color-bg: #fbfbfb;
  --color-text-primary: #191a15;
  --color-text-secondary: rgba(25, 26, 21, 0.5);
  --color-primary: #3470ff;
  --color-secondary: rgba(52, 112, 255, 0.2);
  --color-tertiary: #255ee8;
  --scrollbar-thumb: rgba(52, 112, 255, 0.78);
  --scrollbar-thumb-hover: #255ee8;
  --scrollbar-track: rgba(52, 112, 255, 0.12);
  --scrollbar-track-modal: rgba(52, 112, 255, 0.08);

  --color-icon-primary: #54be96;
  --color-icon-secondary: #fbc75e;
}

[data-theme='orange'] {
  --color-bg: #fbfbfb;
  --color-text-primary: #191a15;
  --color-text-secondary: rgba(25, 26, 21, 0.5);
  --color-primary: #fc832c;
  --color-secondary: rgba(252, 131, 44, 0.2);
  --color-tertiary: #f37113;
  --scrollbar-thumb: rgba(252, 131, 44, 0.82);
  --scrollbar-thumb-hover: #f37113;
  --scrollbar-track: rgba(252, 131, 44, 0.12);
  --scrollbar-track-modal: rgba(252, 131, 44, 0.08);

  --color-icon-primary: #54be96;
  --color-icon-secondary: #fbc75e;
}
