.theme-switcher {
  position: fixed;
  bottom: 100px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: inline-block;
}

.theme-circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition:
    transform var(--transition-base),
    box-shadow var(--transition-base),
    border-color var(--transition-base);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-circle:hover {
  transform: scale(1.15);
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.theme-circle.active {
  filter: drop-shadow(1px 1px 6px var(--color-primary));
}

.theme-circle.active::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
