.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: var(--color-bg);
  z-index: var(--z-modal);
  overflow-y: auto;
  outline: none;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-badges);
  border: 1px solid var(--color-gray-light-primary);
  transition:
    background-color var(--transition-base),
    border var(--transition-base);
}

.mobile-menu-close-icon {
  color: var(--color-text-primary);
  transition: fill var(--transition-base);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--color-primary);
}

.mobile-menu-close:hover .mobile-menu-close-icon,
.mobile-menu-close:focus .mobile-menu-close-icon {
  color: var(--color-badges);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
