.favoriteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoriteBtn:disabled {
  cursor: not-allowed;
}

.favoriteIcon {
  stroke: var(--color-text-primary);
  color: transparent;
  transition:
    fill var(--transition-base),
    stroke var(--transition-base);
}

.favoriteBtn:hover .favoriteIcon,
.isFavorite {
  color: var(--color-primary);
  stroke: var(--color-primary);
}

.favoriteBtn:disabled .favoriteIcon {
  opacity: 0.7;
}
