.timeFieldContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.timeInput,
.timeInput::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-base);
  line-height: 1.25;
  color: var(--color-text-primary);
}

@media screen and (min-width: 768px) {
  .timeFieldContainer {
    width: 100%;
    max-width: 100%;
  }
}
